<!DOCTYPE html>
<html>
    <head>
        <title>Upload CSV</title>
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/style/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/style/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/style/favicon-16x16.png">
        <link rel="manifest" href="/style/site.webmanifest">
    </head>    
<body>
    <h1>Upload CSV</h1>
    <p>Select a CSV file to upload it to the database</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Choose a CSV file:</label>
            <input type="file" name="file" id="file" required>
        </div>
        <div class="form-group">
            <label for="storage_method">Storage method:</label>
            <select name="storage_method" id="storage_method" required>
                <option value="table">Separate Table</option>
                <option value="database">Separate Database</option>
                <option value="update">Update Table</option>
            </select>
        </div>
        <div class="form-group">
            <label for="custom_name">Custom name:</label>
            <input type="text" name="custom_name" id="custom_name" placeholder="Custom name">
        </div>
        <input type="submit" value="Upload">
    </form>
    
    <div class="progress-bar" style="display: none;">
        <div class="progress"></div>
    </div>
    <div id="apod">
        <img id="apod-image">
        <p id="apod-text"></p>
    </div>
    <script>
        var form = document.querySelector('form');
        var progressBar = document.querySelector('.progress-bar');
        var progress = document.querySelector('.progress');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);

            xhr.onloadstart = function() {
                progressBar.style.display = "block";
            }

            xhr.upload.onprogress = function(event) {
                
                var percent = (event.loaded / event.total) * 100;
                progress.style.width = percent + '%';
            }

            xhr.onload = function() {
                if (xhr.status === 200) {
                    // Handle success
                    alert('File uploaded successfully');
                    var response = JSON.parse(xhr.responseText);
                    console.log(response);
                    // Do something with the response, such as updating the UI
                } else {
                    // Handle error
                    alert('Error uploading file');
                    console.log("Error: " + xhr.status);
                }
            }
            
            xhr.send(formData);
        });
    console.log("Fetching data from: " + apodUrl);
    const apodDiv = document.getElementById("apod");
    const apiKey = process.env.APOD_API_KEY;
    const apodUrl = `https://api.nasa.gov/planetary/apod?api_key=${apiKey}`;

    fetch(apodUrl)
    .then(function(response){
        return response.json()
    })
    .then(function(data) {
        console.log(data);
        const apodImage = document.createElement("img");
        apodImage.src = data.url;
        apodImage.alt = data.title;
        apodDiv.appendChild(apodImage);
        const apodText = document.createElement("p");
        apodText.textContent = data.explanation;
        apodDiv.appendChild(apodText);
    })
    .catch(function(error) {
        console.log(error);
    });
</script>

    
</body>
</html>
