body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

form input[type="file"],
form select,
form input[type="text"],
form input[type="submit"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
}

form input[type="file"] {
    background-color: #f9f9f9;
}

form select {
    background-color: #f9f9f9;
}

form input[type="text"] {
    background-color: #f9f9f9;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

form input[type="submit"]:hover {
    background-color: #3e8e41;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

.progress {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 0.2s ease;
}

#apod-div {
    background-size: cover;
    background-position: center;
}
